<h2>We Just Added Your Niche</h2>

<strong>Are You Ready to Analyze What You Just Added Now?</strong>
<hr />
<div class="alert alert-info">
    <b>Analyzing Can Take Time</b> It can take several minutes depending on server availability
    you can always check on the status by clicking 'Analyze' in your niche list.
</div>
<hr />
<div >
    <button class="btn btn-success btn-outline-dark"><b>Analyze Now</b></button>

</div>
<hr />
<div>
<ul>
    <li>Checking Our Database - DISCOVERED</li>
    <li>Prepairing Task</li>
    <li>Waiting for Task Response</li>
    <li>Task Response Received...</li>
    <li>Preparing Results...</li>
    <li>Loaded... Display.</li>
</ul>
</div>

<ul>

</ul>

